.globalheader {

    nav {

        .hamburger {

            .line {
                background-color: #fff;
            }
        }

        ul {
            
            li {

                a {
                    color: #fff;

                    &::before {
                        border-color: #fff;
                    }
                }
            }
        }
    }
}
