* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $notoSansJp-fontFamily;
    font-size: $base-fontSize;
    color: $base-color;
    letter-spacing: $base-letterSpacing;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    overflow: hidden;
}

a, a:link, a:visited {
    color: $base-color;
    text-decoration: none;
    transition: all .3s;
    &::before, &::after {
        transition: all .3s;
    }
}

i {
    font-style: normal;
}

img {
    width: 100%;
}

small {
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: $base-letterSpacing * 5;

    @include mediaSp() {
        font-size: 1.9rem;
    }
}

ul, ol {
    list-style-type: none;
}

input, textarea, select, button {
    border: 1px solid $right-gray-color;
    background-color: #fff;
}
