.cmn_loading {
    width: 100%;
    height: 100%;
    background-color: $base-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    transition-property: all;

    &::before {
        content: '';
        display: inline-block;
        width: 5%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    &::before {
        animation: loading 1s ease-in-out infinite;
    }

    &.is_hide {
        opacity: 0;
    }

    &.is_none {
        display: none;
    }
}
.globalheader {
    width: 100%;
    height: $globalheader-height;
    // position: relative;
    position: absolute;
    z-index: 100;

    .logo {
        height: 100%;
        position: absolute;
        top: 0;
        left: 3vw;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            border-radius: 8px;
            font-family: $baloo-fontFamily;
            font-size: 3rem;
            background-color: $base-color;
            color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &::before {
                content: attr(title);
            }
        }
    }

    nav {
        width: 50px;
        height: 100%;
        padding: inherit;
        position: absolute;
        top: 0;
        right: 3vw;

        .hamburger {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            width: 100%;
            height: 100%;
            padding: inherit;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            &.is_show {
                .line:first-child {
                    transform: translateY(10px) rotate(45deg);
                }
                .line:nth-child(2) {
                    visibility: hidden;
                }
                .line:last-child {
                    transform: translateY(-10px) rotate(-45deg);
                }
                & + ul {
                    width: calc(100vw - 3vw);
                    padding-right: 8px;
                }
            }

            .line {
                display: inline-block;
                width: 100%;
                height: 2px;
                background-color: $base-color;
                transition: all .3s;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }

        ul {
            width: 0;
            height: 200px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            transition: all .3s;
            background-color: $base-color;
            position: absolute;
            top: $globalheader-height;
            right: 0;
            overflow: hidden;

            li {
                font-size: 1.7rem;
                width: 100%;
                text-align: right;
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-bottom: 1px solid #fff;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transition: all .3s;
                    z-index: 0;
                }

                &:hover {

                    &::after {
                        width: 100%;
                    }
                }

                &.is_selected {

                    &::after {
                        width: 100%;
                    }
                }

                a {
                    display: block;
                    color: #fff;
                }

                @include mediaSp() {
                    font-size: 1.5rem;

                    &:hover {

                        &::after {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
    &.is_hide {

        a {
            display: block;
            width: 0;
            overflow: hidden;
        }
    }
}
.globalfooter {
    margin-top: 24px;
    padding: 24px 3vw 24px;
    background-color: $base-color;
    color: #fff;

    &_nav_list {
        display: flex;
        margin-bottom: 16px;

        &_item {
            width: 96px;

            a {
                color: #fff;
                display: block;
                padding-left: 8px;
                margin: 0 0 8px 8px;
                position: relative;

                &:not(:first-child) {
                    font-size: 0.9rem;
                }

                &::before {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    border-bottom: 1px solid #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .3s;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }

                @include mediaSp() {
                    padding-left: 0px;
                }
            }
        }
    }

    .copy {
        text-align: right;
    }
}
.cmn_heading01 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: $base-letterSpacing * 5;
    margin-bottom: 48px;

    @include mediaSp() {
        font-size: 2.5rem;
        margin-bottom: 24px;
    }
}
.cmn_btn01 {
    display: inline-block;
    font-size: .8rem;
    width: 20vw;
    height: 5vw;
    max-width: 200px;
    max-height: 50px;
    min-width: 160px;
    min-height: 40px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 2px solid $base-color;
        position: relative;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            border-right: 2px solid $base-color;
            border-bottom: 2px solid $base-color;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10%;
            margin: auto;
            transform:
                rotate(-45deg)
                skew(
                    calc((90deg - 30deg) / 2),
                    calc((90deg - 30deg) / 2)
                );
        }
    }

    &:hover {

        a {
            background-color: $base-color;
            border: 2px solid $base-color;
            color: #fff;

            &::after {
                border-color: #fff;
            }
        }
    }
}
.cmn_paragraph01 {
    line-height: $base-lineHeight;

    @include mediaSp() {
        line-height: $base-sp-lineHeight;
    }
}
.back_to_home {
    padding: 72px 0;
    text-align: center;

    @include mediaSp() {
        padding: 36px 0;
    }
}
.cmn_icon {
    display: inline-block;
    font-family: FontAwesome;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.is_profile {

        &::before {
            content: '\f2bb';
        }
    }

    &.is_vision {
        &::before {
            content: '\f5dc';
        }
    }

    &.is_business {

        &::before {
            content: '\f0b1';
        }
    }

    &.is_heart {

        &::before {
            content: '\f4be';
        }
    }

    &.is_coding {

        &::before {
            content: '\f126';
        }
    }

    &.is_network {

        &::before {
            content: '\f6ff';
        }
    }

    &.is_facebook {
        width: 1rem;
        height: 1rem;
        background-image: url(/img/common/sns/logo_facebook.png);
    }

    &.is_twitter {
        width: 1rem;
        height: 1rem;
        background-image: url(/img/common/sns/logo_twitter.png);
    }

    &.is_instagram {
        width: 1rem;
        height: 1rem;
        background-image: url(/img/common/sns/logo_instagram.png);
    }

    &.is_github {
        width: 1rem;
        height: 1rem;
        background-image: url(/img/common/sns/logo_github.png);
    }

    &.is_qiita {
        width: 1rem;
        height: 1rem;
        background-image: url(/img/common/sns/logo_qiita.png);
    }
}

.cmn_opening {
    opacity: 0;
}
