@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf');
}
@font-face {
    font-family: 'Lobster';
    src: url('/fonts/Lobster/Lobster-Regular.ttf');
}
@font-face {
    font-family: 'Baloo Bhai';
    src: url('/fonts/Baloo_Bhai/BalooBhai-Regular.ttf');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/font_awesome/fa-solid-900.ttf');
}
@font-face {
    font-family: 'FontAwesome Brands';
    src: url('/fonts/font_awesome/fa-brands-400.ttf');
}

$notoSansJp-fontFamily: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$lobster-fontFamily: 'Lobster', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$baloo-fontFamily: 'Baloo Bhai', 'Lobster', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$base-fontSize: 14px;
$base-color: #333;
$base-letterSpacing: 0.01em;
$base-lineHeight: 2;
$base-sp-lineHeight: 1.7;
$base-section-padding: 70px 3vw;
$base-sp-section-padding: 70px 7vw;

$blue-color: deepskyblue;
$dark-blue-color: darkblue;
$cork-color: #c49a6a;
$orange-color: #ff8c00;
$right-gray-color: #ccc;

$white-text-shadow: 5px 5px 20px #fff;

$globalheader-height: 80px;
$icon-size-m: 3rem;
$icon-size-s: 2rem;

$keytime-slideshow: 5s;
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes auto-photo {
    0% {
        transform: translateX(50vw);
    }
    50% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(50vw);
    }
}

@keyframes auto-photo-sp {
    0% {
        transform: translateX(50vw);
    }
    50% {
        transform: translateX(-350vw);
    }
    100% {
        transform: translateX(50vw);
    }
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes landing {
    0% {
        transform: translate(0%, 0%);
    }
    23% {
        transform: translate(0%, 0%);
    }
    26% {
        transform: scale(1.5, 1.5);
    }
    30% {
        transform: scale(1, 1);
    }
    33% {
        transform: translate(0%, 0%);
    }
    40% {
        transform: translate(0%, -30%);
    }
    46% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes landing-child {
    0% {
        transform: translate(0%, 0%);
    }
    10% { // 0.6
        transform: translate(-9%, 0%);
    }
    20% { // 1.2
        transform: translate(-33%, 30%);
    }
    30% { // 1.8
        transform: translate(-59%, 30%);
    }
    40% { // 2.4
        transform: translate(-84%, 30%);
    }
    50% { // 3
        transform: translate(-2%, 0%);
    }
    52% {
        transform: translate(-3%, 0%);
    }
    54% {
        transform: translate(-4%, 0%);
    }
    56% {
        transform: translate(-5%, 0%);
    }
    58% {
        transform: translate(-6%, 0%);
    }
    60% {
        transform: translate(-7%, 0%);
    }
    62% {
        transform: translate(-8%, 0%);
    }
    64% {
        transform: translate(-9%, 0%);
    }
    66% {
        transform: translate(-10%, 0%);
    }
    68% {
        transform: translate(-11%, 0%);
    }
    70% {
        transform: translate(-12%, 0%);
    }
    72% {
        transform: translate(-13%, 0%);
    }
    74% {
        transform: translate(-14%, 0%);
    }
    76% {
        transform: translate(-15%, 0%);
    }
    100% {
        transform: translate(-15%, 0%);
    }
}

@keyframes landing-sp {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(20%);
    }
    50% {
        transform: translateX(-15%);
    }
    75% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes spring-x-left {
    0% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}

@mixin mediaSp() {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin mediaWide() {
    @media (min-width: 960px) {
        @content;
    }
}