<footer class="globalfooter">
    <nav>
        <ul class="globalfooter_nav_list">
            <li class="globalfooter_nav_list_item"><a href="/">Home</a></li>
            <li class="globalfooter_nav_list_item">
                <a href="/about">About</a>
                <a href="/about#profile">- profile</a>
                <a href="/about#vision">- vision</a>
                <a href="/about#business">- business</a>
            </li>
            <li class="globalfooter_nav_list_item"><a href="/works">Works</a></li>
            <li class="globalfooter_nav_list_item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="copy">
        <small>&copy;&nbsp;2019&nbsp;Satoru&nbsp;Tanaka</small>
    </div>
</footer>