<header class="globalheader js_globalheader">
    <h2 class="logo"><a href="/" title="ST"></a></h2>
    <nav>
        <div class="hamburger js_hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>