@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';

.l_contact_form {
    
    h1 {
        padding: 152px 0 0;
    }

    .body {
        padding: $base-section-padding;
        padding-top: 0;

        p {
            text-align: center;
        }

        @include mediaSp() {
            padding: $base-sp-section-padding;
            padding-top: 0;
        }
    }

    form {
        text-align: left;
        max-width: 700px;
        margin: 50px auto 0;

        .form_item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &.is_submit {
                text-align: center;
            }
            &_name {
                padding-left: 5px;
                margin-bottom: 10px;
                border-left: 3px solid $base-color;
            }
        }

        input[type=text], input[type=email], textarea {
            font-size: 1.3rem;
            width: 100%;
            padding: 5px 10px;
        }

        input[type=radio] {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: middle;
            & + label {
                font-size: 1.3rem;
                margin-right: 30px;
                vertical-align: middle;
            }
        }

        select {
            font-size: 1.3rem;
            width: 200px;
            height: 40px;
        }

        textarea {
            resize: none;
        }

        button[type=submit] {
            font-size: 1.3rem;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            background-color: $right-gray-color;
            transition: all .3s;
            cursor: pointer;
            &.is_disabled {
                cursor: default;
            }
            &:not(.is_disabled):hover {
                background-color: $base-color;
                border: 1px solid $base-color;
                color: #fff;
            }
        }

        .is_invalid {
            border: 1px solid red;
        }

        .is_disabled {
            opacity: .3;
        }

        .is_required {
            position: relative;
            &::after {
                content: '必須';
                display: inline-block;
                padding: 2px;
                color: #f00;
                border: 1px solid #f00;
            }
        }

        input:focus, select:focus, button:focus, textarea:focus {
            outline: 0;
        }
    }
}

.sns {
    
    &_wrap {
        display: flex;
        position: fixed;
        bottom: 56px;
        right: 0;
    }

    &_btn {
        box-sizing: content-box;
        width: $icon-size-m;
        padding: 0 16px;

        .prev, .next {
            font-family: FontAwesome;
            display: inline-block;
            height: $icon-size-m;
            font-size: $icon-size-m;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            color: $orange-color;
            visibility: hidden;

            @include mediaWide {
                animation: spring-x-left 1s ease-in-out infinite;
            }

            &.is_active {
                visibility: visible;
            }
        }

        .prev {

            &::before {
                content: '\f0a8';
            }
        }

        .next {

            &::before {
                content: '\f0a9';
            }
        }
    }

    &_contents {
        overflow: hidden;
        width: 0;
        font-size: 0;
        box-sizing: content-box;
        transition: all .3s;

        @include mediaSp() {
            padding: 8px 0;
            border-radius: 40px 0 0 40px;
            background-color: $orange-color;
        }

        &.is_open {
            width: calc(#{$icon-size-m} * 5 + 8px * 5);

            @include mediaSp() {
                width: calc(#{$icon-size-s} * 5 + 8px * 5);
                padding-left: 16px;
            }
        }

        &_list {
            display: flex;

            li {
                margin-right: 8px;
            }

            .cmn_icon {
                width: $icon-size-m;
                height: $icon-size-m;

                @include mediaSp() {
                    width: $icon-size-s;
                    height: $icon-size-s;
                }
            }
        }
    }
}