@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';

.home_btn {
    text-align: center;
}

.slider {
    width: 400vw;
    height: 100vh;
    &_list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        transition: all .3s;
        // transform: translateX(-300vw);
        &_item {
            width: 25%;
            height: 100%;
            position: relative;
            article {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                h1,h2 {
                    width: 100%;
                }
                &:not(.landing) {
                    padding: $globalheader-height + 64px 3vw 0;

                    @include mediaSp() {
                        padding: $globalheader-height + 48px 3vw 0;
                    }
                }
            }
            .landing {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
            }
            .about {

                &_contents {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 48px;

                    @include mediaSp() {
                        flex-wrap: wrap;
                    }
                }

                &_img, &_list{
                    width: 100%;
                }

                &_img {
                    font-size: 0;
                    padding-left: 3rem;
                    padding-right: 1.5rem;
                    text-align: right;

                    @include mediaSp() {
                        padding-left: 0;
                        padding-right: 0;
                        margin-bottom: 24px;
                        text-align: center;
                    }

                    img {
                        width: 200px;
                    }
                }

                &_list {
                    padding-left: 1.5rem;
                    padding-right: 3rem;

                    @include mediaSp() {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    &_item {
                        font-size: 2rem;

                        @include mediaSp() {
                            font-size: 1.5rem;
                            width: 200px;
                            margin: 0 auto;
                        }

                        &:not(:last-child) {
                            margin-bottom: 16px;

                            @include mediaSp() {
                                margin-bottom: 8px;
                            }
                        }

                        &_icon {
                            margin-right: 16px;
                        }
                    }
                }
            }
            .works {
                &_note {
                    text-align: center;
                }
            }
            .contact {

                p {
                    margin-bottom: 24px;
                    text-align: center;

                    @include mediaSp() {
                        margin-bottom: 16px;
                    }
                }

                &_sns {
                    margin-top: 80px;

                    @include mediaSp() {
                        margin-top: 32px;
                    }

                    &_list {
                        display: flex;
                        justify-content: center;

                        > li {

                            &:not(:last-child) {
                                margin-right: 3rem;

                                @include mediaSp() {
                                    margin-right: 1.5rem;
                                }
                            }

                            i {
                                width: 3rem;
                                height: 3rem;

                                @include mediaSp() {
                                    width: 2rem;
                                    height: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .paging {

                .prev, .next {
                    font-family: FontAwesome;
                    font-size: $icon-size-m;
                    display: inline-block;
                    height: $icon-size-m;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    cursor: pointer;

                    @include mediaSp() {
                        top: auto;
                        bottom: 32px;
                    }
                }

                .prev {
                    left: 3vw;

                    &::before {
                        content: '\f0a8';
                    }
                }

                .next {
                    right: 3vw;

                    &::before {
                        content: '\f0a9';
                    }
                }
            }
        }
    }
}