@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';

h1 {
    padding: 150px 0;
}

.l_works_content {
    padding: 0 3vw;
    article {
        .article_item {
            display: flex;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            &_img {
                width: 100%;
            }
            &_info {
                width: 100%;
                margin-left: 32px;
                > li {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}