@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';

h1 {
    padding: 152px 0;
    color: #fff;
    background-image: url(/img/mouse.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.l_works_content {
    padding: 0 3vw;

    article {

        .article_item {
            display: flex;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto 56px;
            padding-top: 24px;

            @include mediaSp() {
                flex-wrap: wrap;
                margin: 0 auto 32px;
            }

            &_img {
                width: 100%;

                @include mediaSp() {
                    margin-bottom: 24px;
                }
            }

            &_info {
                width: 100%;

                > li {

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }

            &.is_type_left {

                .article_item_info {
                    margin-left: 32px;

                    @include mediaSp() {
                        margin-left: 0;
                    }
                }
            }

            &.is_type_right {

                .article_item_info {
                    margin-right: 32px;
                    text-align: right;
                }
            }
        }
    }
}