@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';

h1 {
    padding: 150px 0;
}

.l_works_content {
    padding: 0 3vw;
    article {
        .article_item {
            display: flex;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto 56px;
            &_img {
                width: 100%;
            }
            &_info {
                width: 100%;
                > li {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
            &.is_type_left {
                .article_item_info {
                    margin-left: 32px;
                }
            }
            &.is_type_right {
                .article_item_info {
                    margin-right: 32px;
                    text-align: right;
                }
            }
        }
    }
}