@charset 'utf-8';

@import 'imports/config';
@import 'imports/base';
@import 'imports/common';
@import 'components/header_white';
@import 'components/local_h1';

h1 {
    background-image: url(/img/pc.jpg);
}

.l_works_content {
    padding: 0 3vw;

    article {

        .article_item {

            > a {
                display: flex;
                width: 100%;
                max-width: 1000px;
                height: 400px;
                margin: 0 auto 56px;
                padding-top: 24px;

                @include mediaSp() {
                    flex-wrap: wrap;
                    height: auto;
                    margin: 0 auto 32px;
                }
            }

            &_img {
                width: 100%;
                position: relative;

                @include mediaSp() {
                    height: 250px;
                }

                &_01,
                &_02,
                &_03 {
                    position: absolute;
                    width: 50%;
                    border-style: solid;
                    border-color: $base-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &_01 {
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-width: 0 1px 0 0;
                }

                &_02 {
                    height: 50%;
                    top: 0;
                    right: 0;
                    border-width: 0 0 1px 0;
                }

                &_03 {
                    height: 50%;
                    bottom: 0;
                    right: 0;
                    border-width: 0;
                }

                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                }

                @include mediaSp() {
                    margin-bottom: 24px;
                }
            }

            &_info {
                width: 100%;

                > li {

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }

            &.is_type_left {

                .article_item_info {
                    margin-left: 32px;

                    @include mediaSp() {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}